/* =============================================================
Simple:Press
Post As CSS
Loosely based on SP default theme with Ice overlay
$LastChangedDate: 2012-11-18 12:09:46 -0600 (Sun, 18 Nov 2012) $
$Rev: 9314 $
============================================================= */

#spMainContainer #spPostAs {
    display: none;
}

#spMainContainer #sp_post_as {
	width: 70%;
}

.sp-post-as-ac.ui-autocomplete {
	position: absolute;
	cursor: default;
	background: #ffffff;
	border: 1px solid #DDE8EE;
	color: #4C5D77;
}

* html .sp-post-as-ac.ui-autocomplete {
	width: 1px;
}

.sp-post-as-ac.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	float: left;
}

.sp-post-as-ac.ui-menu {
	margin-top: -3px;
}

.sp-post-as-ac.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}

.sp-post-as-ac.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: .1em .4em;
	line-height: 1.0;
	zoom: 1;
	color: #4C5D77;
}

.sp-post-as-ac.ui-menu .ui-menu-item a.ui-state-hover,
.sp-post-as-ac.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: bold;
	margin: -1px;
	background: #DCE7EE;
}

#spMainContainer #spPostAs .ui-helper-hidden-accessible {
    display: none;
}